              <div class="ngdialog-message">
                <h3>{{post.postHeading}} </h3>
                <span>{{post.postContent}}</span><br />

                <span id = "{{post.uid}}">{{post.uid}}</span><br />
                <!--  <span>{{post.location}}</span><br /> -->
                <div class = "col-sm-6 map_canvas">

                <ui-gmap-google-map center='map.center' zoom = 'map.zoom'>

                   <ui-gmap-marker idkey="markers.key" coords='markers.coords' icon='markers.icon'>
                  <!--       <ui-gmap-windows show="'showWindow'" closeClick="'closeClick'" ng-cloak>
                          <div>

                                I should not be attached to a
                                marker.
                              <div ng-controller='InfoController'>



                                    <a class="btn" ng-click="clickedButtonInWindow()">CLICK ME</a>
                                </div>
                                <p ng-non-bindable >This is an info window at {{ latitude | number:4 }}, {{ longitude | number:4 }}!</p>

                                <p class="muted">My marker will stay open when the window is popped up!</p>
                            </div>
                        </ui-gmap-windows> -->
                    </ui-gmap-marker>
                </ui-gmap-google-map>
              </div>
                <span>{{post.postID}}</span>
                <span>{{post.postID}}</span>
                <hr />

                <span am-time-ago="post.postDate"></span>


              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.


              </p>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.


              </p>

</div>
