<div ng-controller="postCtrl">


      <label>Filter by keywords: <input type="text" ng-model="objProppostHeadingFilter" /></label><br />


  <table class="table table-hover">
    <tbody>
      <ul class = "list-group">
        <li class="at-repeat-fade-in
         at-repeat-fade-out" ng-repeat="post in posts.slice().reverse() | filter:{$: objProppostHeadingFilter} " >
          <div ng-click ="setMaster(post, $event)">
                    <a class="list-group-item">
                    <h3>{{post.postHeading}}</h3>
                    <h5>{{post.postContent}}</h5>

                    <p>Posted by : {{post.uid}}</p>



                    <p>Added : <span am-time-ago="post.postDate"></span></p>

                  </a>
            </div>
        </li>
      </ul>
    </tbody>
  </table>
</div>
