
      <header class="navbar navbar-default navbar-fixed-top navbar-inverse">

			<div class="container">

				<a href ="#main" class="navbar-brand">Travel Mate</a>

				<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse" ng-click="isCollapsed = !isCollapsed">
					<span class = "icon-bar"></span>
					<span class = "icon-bar"></span>
					<span class = "icon-bar"></span>
				</button>

				<div class = "collapse navbar-collapse navHeaderCollapse">
					<ul class = "nav navbar-nav navbar-right">
							<li><a href = "#main">Home</a></li>
							<li><a href ="#friends">Friends</a></li>
							<li class="dropdown">
									<a href="#message"class ="dropdown-toggle" data-toggle = "dropdown">Messages <b class = "caret"></b></a>
									<ul class = "dropdown-menu">
										<li><a href="#message">New Message</a></li>
										<li><a href="#message">Messages</a></li>
									</ul>
							</li>
							<li><a href="#about">About</a></li>
							<li><a href="#contact">Contact</a></li>
							<li><a ng-click="logout();">Logout</a></li>
					</ul>
				</div>
			</div>

		</header>
    <div class ="space">

    </div>
<div class ="col-sm-6">

</div>
      <div class="container">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Contact Travel Mate</h2>
            </div>
            <div class="panel-body">
              <form name="contactform" method="post" action="http://localhost/api/mailer/mailer.php" class="form-horizontal" role="form">
                <div class="form-group">
                  <label for="inputName" class="col-lg-2 control-label">Name</label>
                  <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputName" name="inputName" placeholder="Your Name">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail1" class="col-lg-2 control-label">Email</label>
                  <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputEmail" name="inputEmail" placeholder="Your Email">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputSubject" class="col-lg-2 control-label">Subject</label>
                  <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputSubject" name="inputSubject" placeholder="Subject Message">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword1" class="col-lg-2 control-label">Message</label>
                  <div class="col-lg-10">
                    <textarea class="form-control" rows="4" id="inputMessage" name="inputMessage" placeholder="Your message..."></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-default">
                      Send Message
                    </button>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
