<div class="col-sm-3 col-md-2 sidebar hidden-xs">
      <div class = "nav nav-fixed">
          <div  align="center">
                <h1>Hey there</h1>
                <div class=" outter"><img src="http://lorempixel.com/output/people-q-c-100-100-1.jpg" class="image-circle"/></div>
                <h1>{{name}}</h1>
                <p>What's on your mind?</p>
                  <form id="form_id" action="index.html" method="post">
                    <textarea  class = "hidden-xs" name="yourMind" rows="3" cols="20"></textarea>
                  </form>
                  <input type="button" name="some_name" value="submit" on-click="submitYourmind()">
            </div>
         </div>
  </div>
