
<div class="page-content">
<div class="row">
<div class="space-6"></div>
<div class="col-md-4  box-type">
    <div id="login-box" class="login-box visible widget-box no-border">
        <div class="widget-body">
            <div class="widget-main">
                <h4 class="text-center">
                   Travel Mate
                </h4>
				            <h1>
                    Thanks for your message, we will contact you within next 24 hours
                    </h1>
            </div><!-- /widget-main -->
        </div><!-- /widget-body -->
    </div><!-- /login-box -->
</div><!-- /position-relative -->
</div>
</div><!-- /.page-content -->
